.idea
.idea
Bundles
ExportWeGame
Logs
Temp
TextToolDatas
WebGLGame
obj
Library
Assets/StreamingAssets/yoo
Assets/StreamingAssets/build_info.txt
*.meta
.DS_Store
Assets/StreamingAssets/yoo.meta
*.blob
mono_crash.0.0.json
Library
Library
Library
HybridCLRData
Assets/StreamingAssets/yoo
Library
Library
